html,body{
	width: 100%;
	height: 100%;
    min-height: 550px;
}
.container{
	width: 100%;
	height: 100%;
	background-color: #fff4eb;
	background: url("../../img/login/back.png") no-repeat;
	background-size: 100% 100%;
	position: relative;
}
.container form{
	width: 100%;
    height: 7rem;
    position: absolute;
    top: 50%;
    margin-top: -3.5rem;
    box-sizing: border-box;
    padding: 1.2rem 1rem;
}
.container form label{
    width: 100%;
    display: block;
    text-align: center;
    background-size: 100% 100%;
    color: white;
    font-size: 0.6rem;
    border-radius: 3rem;
    height: 2rem;
    line-height: 2rem;
    border: 2px solid white;
    box-shadow: 0 0 2px #000;
    background: black;
    opacity: 0.3;
}
.container form label input{
    border: 0;
    box-sizing: border-box;
    padding-left: 0.3rem;
    width: 9rem;
    color: #ffffff;
    height: 1.5rem;
    font-size: 0.7rem;
    background: black;
}


.container .btn_div{
    width: 100%;
    height: 7rem;
    position: absolute;
    bottom: 2.2rem;
    left: 0;
    text-align: center;
    line-height: 7rem;
}
.container .btn_div button{
    width: 7rem;
    height: 2.7rem;
    line-height: 2.7rem;
    margin-bottom: 0.3rem;
    border: 0;
    color: white;
    text-shadow: 0px 1px 8px #000;
    font-size: 0.7rem;
}
.container .btn_div .login_btn{
    background: url(../../img/login/btn_register.png) no-repeat;
    background-size: 100% 100%; 
}

